@import "tailwindcss" reference;

body {
    font-family: "JetBrains Mono Variable", monospace;
    font-size: 1.25rem;
    @apply text-2xl font-light;
}

h1 {
    font-family: "Bitter Variable", serif;
    color: var(--color-primary);
}

h2 {
    @apply text-4xl uppercase;
}

h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4em;
    font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}

/* #intro {
  position: relative;
}
#green-dot {
  background-image: linear-gradient(to right, #ffffff, #d2e8cb);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  position: absolute;
  bottom: -70px;
  left: 150px;
  z-index: -1;
} */
